<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.yjs.mvweb.mapper.IUsersMapper">
    <select id="selectAll" resultType="IUsers">
        SELECT * FROM users
    </select>
    <select id="selectOne" resultType="boolean" parameterType="IUsers">
        select count(1) from users where username=#{username} and password=#{password}
    </select>
    <insert id="insertUser" parameterType="IUsers">
        insert into users(username,password)VALUES(#{username},#{password})
    </insert>
    <select id="selectUserByLoginName" parameterType="java.lang.String" resultType="IUsers">
        select * from users where username=#{username}
    </select>
</mapper>